---
import avatar from '../assets/avatar.jpg';
// import ContentLink from './ContentLink.astro';
---

<div class="inner">
	<section class="hero">
		<span class="frame">
			<img class="avatar" src={avatar.src} alt="avatar" />
		</span>
		<h1>
			Welcome to my personal page! 🚀
		</h1>
		<p>
			I'm Alper Unal, a software engineer based in Amsterdam, the Netherlands. 
		</p>
	</main>
</div>

<style>
	.inner {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 48px 32px;
		width: 320px;
		margin: 0 auto;
	}

	.frame {
		display: inline-block;
    width: 144px;
		height: 144px;
    border-radius: 100%;
    border-color: #000000;
    border-style: solid;
    border-width: 4px;
	}

	.avatar {
		max-width: 100%;
		border-radius: 100%;
    padding: 2px;
		box-sizing: border-box;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}
</style>
